In [1]:
"""
goal: create clean dataset for 2018 - 2021 crashes -- "events" and "drivers"
steps:
1. import dataset
2. remove crashes that occured before 2018
3. remove crashes missing latitude and/or longitude (will be qa/qc'd)
4. remove crashes with incorrect latitude and/or longitude
5. export clean dataset as a geojson file and csv
"""

/Users/shelbygreen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0,20,23,29,30,57,59,61,63,64) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# Events Data

## Import Data

In [1]:
# import libraries
import pandas as pd # for data manipulation
import gspread # to connect with google sheets
from df2gspread import df2gspread as d2g # to interact with google sheets
import geopandas as gpd # for geospatial data manipulation
import os # for file navigation
from datetime import date # for age calculations

In [2]:
# create dataframe of crashes in leon county
df = pd.read_csv("../data/semiclean/leon-events.csv")[['report_number', 'crash_year', 'crash_date_time',
                                       'first_harmful_event', 'total_number_of_vehicles', 'total_number_of_persons',
                                       'latitude', 'longitude', 'on_street_road_highway', 'street_address_number',
                                       'from_intersection_of']]

/Users/shelbygreen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (29,56,57,58,59,63) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
# read YAML file
import yaml
yaml_file = open("../keys.yaml")
parsed_yaml_file = yaml.load(yaml_file)

<ipython-input-3-eabd164243c5>:4: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  parsed_yaml_file = yaml.load(yaml_file)

## Filter Data

In [6]:
# select crashes that occured on 1/1/2010 or later
df2010 = df.query(" crash_year >= 2010").reset_index(drop=True)

In [7]:
# remove the rows with missing lat/lon data -- these will be addressed in qa/qc
df2010missing = df2010[df2010['latitude'].isna() | df2010['longitude'].isna()]

In [8]:
# export to Google Sheets for QA/QC
from oauth2client.service_account import ServiceAccountCredentials

# access and store credentials
scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']
credentials = ServiceAccountCredentials.from_json_keyfile_name('./gsCredentials.json')
gc = gspread.authorize(credentials)

# connect to the Google Sheet
spreadsheet_key = parsed_yaml_file["spreadsheet_key"]
wks_name = 'missing-2018'

# send data to the Google Sheet
d2g.upload(df2018missing, spreadsheet_key, wks_name, credentials=credentials, row_names=True)

## Clean Data

In [8]:
# add column for crash date
df2010['crash_date'] = df2010['crash_date_time'].str.split(" ").str[0]

# add column for crash time
df2010['crash_time'] = df2010['crash_date_time'].str.split(" ").str[1]

In [9]:
# drop crash date time column
df2010 = df2010.drop(['crash_date_time'], axis=1)

In [10]:
# create clean dataset
df2010clean = df2010[~df2010['latitude'].isna() & ~df2010['longitude'].isna()]
#                      & ~df2018['report_number'].isin(['87845295', '24211781', '24339312'])]

## Export Data

In [9]:
# convert to geodataframe
gdf2018clean = gpd.GeoDataFrame(df2018clean, geometry=gpd.points_from_xy(df2018clean.longitude, df2018clean.latitude))

In [11]:
# export to geojson
gdf2018clean.to_file("./data/clean/all-2018to2021.geojson", driver='GeoJSON')

In [15]:
# export to csv
df2018clean.to_csv("../data/clean/all-2018to2021.csv")

In [11]:
df2010clean

,report_number,crash_year,first_harmful_event,total_number_of_vehicles,total_number_of_persons,latitude,longitude,on_street_road_highway,street_address_number,from_intersection_of,crash_date,crash_time
1,71897779,2010,14.0,2,2,30.046356,-84.028192,N Monroe St,NaN,NaN,2010-12-10,12:00
16,71897893,2010,33.0,1,1,30.444660,-84.289330,US Hwy 90 (W Tennessee St),NaN,NaN,2010-12-10,12:34
51,71898116,2010,14.0,2,2,30.463600,-84.292090,W Tharpe St,NaN,NaN,2010-12-24,12:36
55,71898125,2010,14.0,2,2,30.300099,-84.145080,Raymond Diehl Rd,NaN,NaN,2010-12-25,10:15
66,71898161,2010,10.0,1,2,30.428430,-84.281950,S Adams St,NaN,Jakes and Patterson St,2010-12-29,15:12
...,...,...,...,...,...,...,...,...,...,...,...,...
110577,90116307,2021,14.0,2,3,30.444673,-84.285620,N M L KING JR BLVD,NaN,W TENNESSEE ST,2021-06-29,18:45
110578,90116314,2021,14.0,2,2,30.480562,-84.236873,Capital Circle NE,NaN,WEDNESDAY RD,2021-06-30,12:25
110579,90116316,2021,14.0,2,2,30.431120,-84.226543,Capital Circle SE,NaN,DICK WILSON BLVD,2021-06-30,11:50
110580,90116323,2021,14.0,2,2,30.465070,-84.327236,W Tharpe St,NaN,IVAN DR,2021-06-30,16:40
110581,90116325,2021,14.0,2,4,30.459272,-84.360786,UNNAMED RD,NaN,W TENNESSEE ST,2021-06-30,17:22

# Misc

# How many car crashes have happened on Miccosukee 2018-2021?

In [49]:
# crashes within a bounding box
# bounding box from bboxfinder.org 

# miccosukee = df2018clean.query(' on_street_road_highway.str.contains("Miccosukee").values ')
miccosukee[miccosukee['longitude'].between(-84.277496, -84.261682) & miccosukee['latitude'].between(30.445584, 30.456165)].sort_values(["from_intersection_of", "crash_time"], ascending = [True,True])

,report_number,crash_year,first_harmful_event,total_number_of_vehicles,total_number_of_persons,latitude,longitude,on_street_road_highway,street_address_number,from_intersection_of,crash_date,crash_time
22684,89145393,2019,14.0,2,2,30.447141,-84.275703,Miccosukee Rd,NaN,CHERRY ST,2019-10-30,07:27
33044,90111729,2020,14.0,2,4,30.447528,-84.275259,Miccosukee Rd,NaN,CHERRY ST,2020-10-26,10:26
26576,89147106,2020,14.0,2,3,30.447547,-84.275260,Miccosukee Rd,NaN,CHERRY ST,2020-01-07,11:23
14621,87844035,2019,14.0,2,2,30.447410,-84.275384,Miccosukee Rd,NaN,CHERRY ST,2019-01-29,14:08
37704,90115469,2021,14.0,2,2,30.447698,-84.275053,Miccosukee Rd,NaN,CHERRY ST,2021-05-13,20:03
9133,87839457,2018,15.0,3,1,30.454002,-84.265941,Miccosukee Rd,NaN,CRESTVIEW AVE,2018-08-27,13:35
15447,87844863,2019,14.0,2,1,30.454308,-84.265222,Miccosukee Rd,NaN,CRESTVIEW AVE,2019-03-01,17:13
15665,87845116,2019,14.0,2,3,30.453973,-84.265930,Miccosukee Rd,NaN,CRESTVIEW AVE,2019-03-10,17:14
21804,89144515,2019,14.0,2,2,30.454965,-84.262323,Miccosukee Rd,NaN,DOCTORS DR,2019-10-01,11:25
17409,89140096,2019,14.0,3,3,30.449153,-84.273604,Miccosukee Rd,NaN,E BREVARD ST,2019-04-09,17:55
17583,89140271,2019,14.0,2,5,30.448239,-84.274548,Miccosukee Rd,NaN,E GEORGIA ST,2019-04-16,13:04
21196,89143900,2019,14.0,2,2,30.448230,-84.274532,Miccosukee Rd,NaN,E GEORGIA ST,2019-09-09,13:58
18546,89141237,2019,14.0,2,2,30.448254,-84.274501,Miccosukee Rd,NaN,E GEORGIA ST,2019-05-21,14:05
27653,89148186,2020,14.0,3,3,30.453173,-84.267829,Miccosukee Rd,NaN,HILLCREST ST,2020-02-20,11:51
27448,89147981,2020,14.0,2,2,30.453171,-84.267701,Miccosukee Rd,NaN,HILLCREST ST,2020-02-12,15:45
17901,89140589,2019,14.0,2,16,30.455253,-84.263058,Miccosukee Rd,NaN,LEE AVE,2019-04-27,08:25
18489,89141179,2019,14.0,2,2,30.455265,-84.263106,Miccosukee Rd,NaN,LEE AVE,2019-05-18,09:53
7907,87838227,2018,14.0,2,2,30.455248,-84.263108,Miccosukee Rd,NaN,LEE AVE,2018-07-05,13:13
14722,87844137,2019,14.0,2,2,30.455074,-84.263548,Miccosukee Rd,NaN,LEE AVE,2019-02-02,19:10
19717,89142416,2019,14.0,2,2,30.454461,-84.264769,Miccosukee Rd,NaN,MARION AVE,2019-07-12,13:43
14586,87843999,2019,14.0,2,3,30.454577,-84.264524,Miccosukee Rd,NaN,MARION AVE,2019-01-28,17:43
26445,89146972,2020,14.0,2,2,30.450015,-84.272952,Miccosukee Rd,NaN,MARTIN ST,2020-01-01,19:47
14050,87843450,2019,14.0,3,8,30.449870,-84.273026,Miccosukee Rd,NaN,MCDANIEL ST,2019-01-08,14:05
26765,89147296,2020,14.0,2,3,30.453780,-84.266194,Miccosukee Rd,NaN,MITCHELL AVE,2020-01-15,14:00
14249,87843649,2019,14.0,2,9,30.453407,-84.267095,Miccosukee Rd,NaN,MITCHELL AVE,2019-01-16,14:59
5984,87836289,2018,14.0,2,2,30.455302,-84.262723,Miccosukee Rd,NaN,N MAGNOLIA DR,2018-04-18,07:43
6548,87836855,2018,14.0,2,2,30.455389,-84.262650,Miccosukee Rd,NaN,N MAGNOLIA DR,2018-05-08,07:56
26570,89147100,2020,14.0,2,2,30.455301,-84.262627,Miccosukee Rd,NaN,N MAGNOLIA DR,2020-01-08,08:03
15704,87845155,2019,14.0,2,24,30.455678,-84.262071,Miccosukee Rd,NaN,N MAGNOLIA DR,2019-03-12,08:07
5788,87836094,2018,14.0,2,3,30.455188,-84.262964,Miccosukee Rd,NaN,N MAGNOLIA DR,2018-04-11,08:08
1710,86964835,2018,14.0,2,2,30.455662,-84.262180,Miccosukee Rd,NaN,N MAGNOLIA DR,2018-02-14,08:48
10793,87841233,2018,14.0,2,2,30.455692,-84.262219,Miccosukee Rd,NaN,N MAGNOLIA DR,2018-10-24,10:03
10165,87840603,2018,14.0,2,2,30.455795,-84.261953,Miccosukee Rd,NaN,N MAGNOLIA DR,2018-10-03,11:01
26516,89147045,2020,14.0,3,6,30.455577,-84.262134,Miccosukee Rd,NaN,N MAGNOLIA DR,2020-01-06,12:48
18733,89141424,2019,14.0,2,3,30.455578,-84.262361,Miccosukee Rd,NaN,N MAGNOLIA DR,2019-05-30,13:00
37134,90114853,2021,14.0,2,4,30.455705,-84.262153,Miccosukee Rd,NaN,N MAGNOLIA DR,2021-04-13,13:44
7346,87837655,2018,14.0,2,3,30.455660,-84.262187,Miccosukee Rd,NaN,N MAGNOLIA DR,2018-06-11,15:11
23914,89146603,2019,14.0,2,6,30.455850,-84.261811,Miccosukee Rd,NaN,N MAGNOLIA DR,2019-12-13,15:37
16095,87845548,2019,14.0,2,2,30.455684,-84.262187,Miccosukee Rd,NaN,N MAGNOLIA DR,2019-03-29,17:08
10062,87840487,2018,14.0,2,3,30.455664,-84.262097,Miccosukee Rd,NaN,N MAGNOLIA DR,2018-09-28,17:10
15328,87844743,2019,14.0,3,8,30.455538,-84.262357,Miccosukee Rd,NaN,N MAGNOLIA DR,2019-02-25,17:17
17724,89140412,2019,14.0,3,6,30.455759,-84.262043,Miccosukee Rd,NaN,N MAGNOLIA DR,2019-04-20,17:28
33272,90111958,2020,14.0,2,2,30.455545,-84.262403,Miccosukee Rd,NaN,N MAGNOLIA DR,2020-11-05,19:12
36137,90113846,2021,14.0,2,2,30.455599,-84.262345,Miccosukee Rd,NaN,N MAGNOLIA DR,2021-02-19,21:16
33154,90111839,2020,14.0,2,3,30.446072,-84.276923,Miccosukee Rd,NaN,N MERIDIAN ST,2020-10-30,23:04
1093,86964215,2018,14.0,2,3,30.452291,-84.269577,Miccosukee Rd,NaN,TERRACE ST,2018-01-22,15:55
1315,86964439,2018,14.0,2,2,30.449540,-84.273241,Miccosukee Rd,NaN,WILSON AVE,2018-01-31,13:57
37635,90115394,2021,14.0,2,3,30.449400,-84.273352,Miccosukee Rd,NaN,WILSON AVE,2021-05-10,13:58
19023,89141715,2019,14.0,2,2,30.449598,-84.273193,Miccosukee Rd,NaN,WILSON AVE,2019-06-12,15:30
19335,89142027,2019,14.0,2,2,30.449452,-84.273384,Miccosukee Rd,NaN,WILSON AVE,2019-06-24,22:10
35925,90113633,2021,14.0,2,1,30.451021,-84.271509,Miccosukee Rd,707,NaN,2021-02-09,08:10
38429,90116286,2021,39.0,1,3,30.455493,-84.263170,Miccosukee Rd,1202,NaN,2021-06-29,10:41
30153,89299589,2020,15.0,2,1,30.447454,-84.275031,Miccosukee Rd,561,NaN,2020-09-14,11:00
38112,90115909,2021,24.0,1,1,30.448044,-84.274374,Miccosukee Rd,579,NaN,2021-06-09,11:42
36769,90114484,2021,39.0,1,2,30.453052,-84.266888,Miccosukee Rd,912,NaN,2021-03-23,15:07
7704,87838022,2018,14.0,2,2,30.455482,-84.263054,Miccosukee Rd,1202,NaN,2018-06-25,15:36
24927,89298028,2019,14.0,2,7,30.452923,-84.267622,Miccosukee Rd,912,NaN,2019-09-18,15:40
6137,87836443,2018,15.0,2,1,30.454390,-84.265343,Miccosukee Rd,1108,NaN,2018-04-23,15:59

# How many car crashes happened on Black Friday?

In [58]:
len(df2018.query(" crash_year == 2018 and crash_date == '2018-11-30' ").sort_values(by="crash_time", ascending=True))

58

In [57]:
df2018.query(" crash_year == 2019 and crash_date == '2019-11-29' ").sort_values(by="crash_time", ascending=True)

,report_number,crash_year,first_harmful_event,total_number_of_vehicles,total_number_of_persons,latitude,longitude,on_street_road_highway,street_address_number,from_intersection_of,crash_date,crash_time
16659,88151871,2019,18.0,2,3,30.480331,-84.150612,I-10 E,NaN,MM 209,2019-11-29,02:48
23518,89146218,2019,25.0,1,3,30.415489,-84.301143,MILL ST,NaN,SPRINGHILL RD,2019-11-29,04:50
23517,89146218,2019,25.0,1,3,30.415489,-84.301143,MILL ST,NaN,SPRINGHILL RD,2019-11-29,04:50
23516,89146217,2019,10.0,1,2,30.453004,-84.337730,Appleyard Dr,NaN,W TENNESSEE ST,2019-11-29,07:07
25389,89298484,2019,14.0,3,6,30.427297,-84.226852,Capital Circle SE,NaN,APALACHEE PKWY,2019-11-29,07:45
16766,88261649,2019,28.0,1,2,30.481131,-84.370140,INTERSTATE 10 (STATE ROAD 8),NaN,MISSION ROAD,2019-11-29,07:45
23520,89146220,2019,14.0,2,5,30.459131,-84.358870,W Tennessee St,NaN,NaN,2019-11-29,10:30
23519,89146219,2019,14.0,2,2,30.443968,-84.278338,N Gadsden St,NaN,E CALL ST,2019-11-29,11:12
23521,89146221,2019,14.0,2,3,30.444663,-84.278484,E Tennessee St,NaN,N GADSDEN ST,2019-11-29,11:22
23522,89146221,2019,14.0,2,3,30.444663,-84.278484,E Tennessee St,NaN,N GADSDEN ST,2019-11-29,11:22
23524,89146223,2019,14.0,2,2,30.463266,-84.277254,N Meridian Rd,NaN,E THARPE ST,2019-11-29,12:16
23523,89146222,2019,14.0,2,2,30.498427,-84.246874,Capital Circle NE,NaN,VILLAGE GREEN WAY,2019-11-29,13:15
25372,89298467,2019,14.0,3,3,30.442689,-84.261841,HAYS ST,NaN,N MAGNOLIA DR,2019-11-29,13:16
23539,89146238,2019,14.0,2,4,30.462170,-84.346408,Blountstown St,NaN,NEKOMA LN,2019-11-29,14:46
23525,89146224,2019,14.0,2,5,30.412895,-84.280579,S Monroe St,NaN,POLK DR,2019-11-29,15:06
23527,89146226,2019,14.0,2,2,30.469691,-84.230807,Capital Circle NE,NaN,MICCOSUKEE RD,2019-11-29,15:32
23538,89146237,2019,28.0,1,1,30.481325,-84.226851,FLEISCHMANN RD,NaN,WELAUNEE BLVD,2019-11-29,15:39
23530,89146229,2019,14.0,2,2,30.469077,-84.234143,CENTRE POINTE BLVD,1900,NaN,2019-11-29,15:55
23526,89146225,2019,14.0,2,2,30.441369,-84.337884,W Pensacola St,NaN,S APPLEYARD DR,2019-11-29,15:56
23531,89146230,2019,14.0,2,2,30.459166,-84.360506,Capital Circle NW,NaN,W TENNESSEE ST,2019-11-29,16:30
23533,89146232,2019,15.0,2,1,30.442691,-84.212384,ACCESS RD 18,NaN,NaN,2019-11-29,17:37
23532,89146231,2019,14.0,2,4,30.430691,-84.245332,Apalachee Pkwy,NaN,LINDA ANN DR,2019-11-29,17:55
23528,89146227,2019,14.0,2,3,30.475160,-84.293822,Allen Rd,2373,NaN,2019-11-29,18:26
25377,89298472,2019,14.0,3,4,30.492826,-84.324168,N Monroe St,NaN,TALPECO RD,2019-11-29,18:35
23529,89146228,2019,10.0,1,2,30.432093,-84.249603,Blair Stone Rd,NaN,APALACHEE PKWY,2019-11-29,18:47
16732,88187129,2019,14.0,2,3,30.481440,-84.313680,INTERSTATE 10 (STATE ROAD 8),NaN,U.S. HIGHWAY 27 (STATE ROAD 63),2019-11-29,19:35
23534,89146233,2019,14.0,2,2,30.429941,-84.242082,Apalachee Pkwy,2320,NaN,2019-11-29,19:58
16733,88187130,2019,18.0,1,3,30.478556,-84.144400,INTERSTATE 10 (STATE ROAD 8),NaN,U.S. HIGHWAY 90 (STATE ROAD 10),2019-11-29,21:00
25380,89298475,2019,13.0,1,2,30.504383,-84.094264,Mahan Dr,NaN,BAUM RD,2019-11-29,21:25

In [53]:
df2018.query(" crash_year == 2020 and crash_date == '2020-11-27' ").sort_values(by="crash_time", ascending=True)

,report_number,crash_year,first_harmful_event,total_number_of_vehicles,total_number_of_persons,latitude,longitude,on_street_road_highway,street_address_number,from_intersection_of,crash_date,crash_time
26192,88276836,2020,13.0,1,4,30.495797,-84.174679,INTERSTATE 10 (STATE ROAD 8),NaN,US HIGHWAY 90 (STATE ROAD 10),2020-11-27,00:00
33641,90112339,2020,14.0,2,3,30.456258,-84.276484,N Gadsden St,5,E 6TH AVE,2020-11-27,10:35
33640,90112337,2020,14.0,2,5,30.461008,-84.225636,Mahan Dr,NaN,CAPITAL CIR NE,2020-11-27,11:03
33653,90112351,2020,14.0,2,2,30.542517,-84.228066,Thomasville Rd,NaN,KERRY FOREST PKWY,2020-11-27,11:19
26392,88349799,2020,14.0,2,2,30.489695,-84.164890,INTERSTATE 10 (STATE ROAD 8) MM 209 WB,NaN,US 90 (MAHAN RD),2020-11-27,12:00
25588,83822610,2020,14.0,3,5,30.487501,-84.161654,INTERSTATE 10,NaN,209MM WB ENTRANCE RAMP,2020-11-27,12:33
26091,88260935,2020,14.0,2,3,30.484682,-84.157933,INTERSTATE 10 (STATE ROAD 8),NaN,U.S. HIGHWAY 90 (STATE ROAD 10),2020-11-27,12:45
30659,89769418,2020,37.0,1,0,30.437897,-84.309217,Belle Vue Way,1607,RIVOLI RD,2020-11-27,14:51
33642,90112340,2020,14.0,2,5,30.412602,-84.305676,W Orange Ave,NaN,LAKE MUNSON ST,2020-11-27,15:08
33643,90112341,2020,36.0,1,2,30.443816,-84.249778,N Blair Stone Rd,NaN,BLAIR STONE RD,2020-11-27,15:22
26092,88260936,2020,14.0,1,1,30.484940,-84.396110,IINTERSTATE 10 (STATE ROAD 8) 194 MILE MARKER,NaN,U.S. HIGHWAY 90 (STATE ROAD 10),2020-11-27,16:27
33646,90112344,2020,14.0,2,2,30.452705,-84.248404,Mahan Dr,NaN,N BLAIR STONE RD,2020-11-27,16:40
33644,90112342,2020,15.0,2,2,30.431493,-84.225436,Dick Wilson Blvd,NaN,NaN,2020-11-27,17:09
33648,90112346,2020,14.0,2,2,30.478006,-84.313799,Pullen Rd,NaN,OLD BAINBRIDGE RD,2020-11-27,17:53
30411,89299857,2020,39.0,1,1,30.437150,-84.514482,Blountstown Hwy,15094,NaN,2020-11-27,17:57
26201,88282778,2020,14.0,2,2,30.488562,-84.320024,U.S. HIGHWAY 27 (STATE ROAD 63),NaN,HOMEWOOD DRIVE,2020-11-27,18:25
33649,90112347,2020,36.0,1,1,30.470728,-84.344255,MISSION RUN CT,NaN,N MISSION RD,2020-11-27,19:11
33645,90112343,2020,14.0,3,3,30.451794,-84.226416,Capital Circle NE,NaN,EASTERWOOD DR,2020-11-27,19:18
30413,89299859,2020,14.0,2,3,30.421024,-84.228822,Capital Circle SE,NaN,OLD SAINT AUGUSTINE RD,2020-11-27,19:50
30412,89299858,2020,14.0,2,5,30.421030,-84.228755,Capital Circle SE,NaN,OLD SAINT AUGUSTINE RD,2020-11-27,19:50
33647,90112345,2020,39.0,1,4,30.446426,-84.298593,W Tennessee St,NaN,N WOODWARD AVE,2020-11-27,21:33
33651,90112349,2020,14.0,2,2,30.436743,-84.280726,S Monroe St,NaN,E MADISON ST,2020-11-27,21:46
30423,89299869,2020,18.0,1,1,30.503337,-84.322888,CROWDER RD,NaN,BENTON HAMPTON CT,2020-11-27,21:50
30415,89299861,2020,14.0,2,2,30.561664,-84.217749,Thomasville Rd,6706,NaN,2020-11-27,22:35
33639,90112336,2020,14.0,2,3,30.457108,-84.366849,W Tennessee St,NaN,TENNESSEE CAPITAL BLVD,2020-11-27,22:45

In [56]:
test_df.groupby('crash_year').count().sort_values(ascending=False, by="report_number")
#.query(" report_number == 90115367 ")
# pd.options.display.max_columns = 999

# driver_distraction_code
# driver_condition_code
# address
# city
# zip code
# date of birth
# sex
# helmet_code
# air_bag_deployment_code
# ejected
# suspected_alcohol_use_code
# suspected_drug_use_code
# injurty_severity
# ems_transport_type
# driver_action_1

# how many visitors/out-of-towners get into car accidents?

,report_number,vehicle_number,person_number,recommend_re_exam,driver_license_state,dl_expiration_date,driver_license_type,driver_distraction_code,driver_condition_code,required_endorsements,vision_obstructed,insurance_company,city,state,zip_code,date_of_birth,sex,helmet_code,restraint_system_code,eye_protection_code,air_bag_deployment_code,ejected,suspected_alcohol_use_code,alc_tested_code,alc_test_type_code,alc_test_results,blood_alcohol_content,suspected_drug_use_code,drug_tested_code,drug_test_type_code,drug_test_results,injury_severity,ems_transport_type,ems_name,ems_run_number,injured_taken_location,seat_position_code,row_position_code,other_position_code,driver_action_1,driver_action_2,driver_action_3,driver_action_4
crash_year,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2018,1329812,1329812,1329812,1134582,1285358,1271135,1290593,1320563,1319423,1011907,1296655,1303474,1305706,1302528,1300361,1284898,1309237,337510,1295624,795041,1293698,1315753,1319572,504084,11254,11003,6991,1319245,498962,3894,3724,1302700,1305247,123672,75720,96159,1318754,1317533,714258,1307302,53119,16583,10773

In [15]:
# df2018.groupby('first_harmful_event').count().sort_values(ascending=False, by="report_number")
# df2018.groupby('crash_year').count().sort_values(ascending=False, by="report_number")

# first harmful event
# 14 - motor vehicle in transport (another car)
# 15 - parked motor vehicle
# 39 - "Other Fixed Object (wall, building, tunnel, etc.)"
# 18 - Other Non-Fixed Object
# 32 - Tree (standing)
# 10 - Pedestrian
# 36 - "Other Post, Pole or Support"
# 11 - pedalcycle

# Drivers data
report number -- there could be multiple drivers under one report number

## Import Data

In [2]:
# define path where the driver tables are stored
path = "../data/raw/"

# create empty list
li = []

# for loop -- loop through each file and save the data
for filename in os.listdir(path):
    temp_df = pd.read_csv(os.path.join(path, filename), index_col=None, header=0) \
    .drop(['dl_number', 'policy_number', 'first_name', 'middle_name', 'last_name', 'suffix', 'phone_number', 'address'], axis=1)
    li.append(temp_df)
    
# create dataframe for the drivers table, 2018 - 2021
driver_df = pd.concat(li, axis=0, ignore_index=True)

## Filter Data

In [10]:
# create list of record numbers from the events table
id_list = list(df2018['report_number'])

In [11]:
# remove rows from the list that don't match the ones from the events table
driver_df = driver_df.query(" report_number in @id_list")

In [12]:
driver_df

,report_number,crash_year,vehicle_number,person_number,recommend_re_exam,driver_license_state,dl_expiration_date,driver_license_type,driver_distraction_code,driver_condition_code,...,ems_name,ems_run_number,injured_taken_location,seat_position_code,row_position_code,other_position_code,driver_action_1,driver_action_2,driver_action_3,driver_action_4
9,87503393,2018,1,1,1.0,FL,08-JUN-24,5.0,1.0,1.0,...,NaN,NaN,NaN,1.0,1.0,NaN,4.0,NaN,NaN,NaN
10,87503393,2018,2,2,1.0,FL,08-JUL-25,5.0,1.0,1.0,...,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN
397,87503396,2018,1,1,1.0,VA,15-JAN-24,5.0,1.0,1.0,...,NaN,NaN,NaN,1.0,1.0,NaN,2.0,NaN,NaN,NaN
398,87503397,2018,1,1,1.0,FL,28-JAN-25,5.0,1.0,1.0,...,NaN,NaN,NaN,1.0,1.0,NaN,10.0,NaN,NaN,NaN
399,87503397,2018,2,2,1.0,FL,23-MAY-20,5.0,1.0,1.0,...,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4315689,90115800,2021,1,1,1.0,FL,03-AUG-28,5.0,1.0,1.0,...,NaN,NaN,NaN,1.0,1.0,NaN,3.0,NaN,NaN,NaN
4315690,90115802,2021,1,1,1.0,FL,24-DEC-27,5.0,4.0,1.0,...,NaN,NaN,NaN,1.0,1.0,NaN,2.0,NaN,NaN,NaN
4315691,90115802,2021,2,2,1.0,FL,09-DEC-28,5.0,1.0,1.0,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN,NaN
4315692,90115805,2021,1,1,1.0,FL,06-JUL-21,5.0,1.0,1.0,...,NaN,NaN,NaN,1.0,1.0,1.0,3.0,NaN,NaN,NaN
4315693,90115805,2021,2,2,1.0,FL,11-AUG-28,5.0,1.0,1.0,...,LCEMS,21-0020919,TMH MAIN,1.0,1.0,1.0,1.0,NaN,NaN,NaN

## Clean Data

In [83]:
# change date of birth type to date

In [84]:
# create age of driver column

In [78]:
# create determine age function
def calculateAge(birthDate):
    today = date.today()
    age = today.year - birthDate.year - ((today.month, today.day) < (birthDate.month, birthDate.day))
 
    return age